    </div>
    <div class="footer">
        <p class="small">
            Questions? Comments? Suggestions? Bugs?
            <a>milki@rescomp.berkeley.edu</a> or milki@IRC.
        </p>
    </div>
  </body></html>
